extends layout



block content


		
	h1 Your Appointments
	br
	h2 Upcoming Appointment:
	br
	//-table-responsive
	table(class="table table-bordered")
		each upcoming, i in upcomings
			tr.table-success
				td #{upcoming.Date.getMonth( ) + 1 +'/'+ upcoming.Date.getDate( ) + '/' +upcoming.Date.getFullYear( )}
				td #{upcoming.Time}
				td #{upcoming.Duration} hour(s)
				td #{upcoming.Lname}
				td #{upcoming.Amount_Owed}
				td #{upcoming.Amount_Paid}
	br
	br
	h2 Missed Appointments:
	br
	p Number of missed appointments: #{numMissed}
	table(class="table table-bordered")
		each missed, i in misseds
			tr.table-danger
				td #{missed.Date.getMonth( ) + 1 +'/'+ missed.Date.getDate( ) + '/' +missed.Date.getFullYear( )}
				td #{missed.Time}
				td #{missed.Duration} hour(s)
				td #{missed.Lname}
				td #{missed.Amount_Owed}
				td #{missed.Amount_Paid}
	br
	br
	h2 Available Appointments:
	br
	table(class="table table-bordered")
		each available, i in availables
			if(!available.Healthcare_ID)
				tr
					td #{available.Date.getMonth( ) + 1 +'/'+ available.Date.getDate( ) + '/' +available.Date.getFullYear( )}
					td #{available.Start_Time}
					td #{available.Duration} hour(s)
					td #{available.Lname}
					td #{available.Amount_Owed}
					td #{available.Amount_Paid}
					td
						form(method='POST', action='/appointment/book_appt/?year=' + available.Date.getFullYear( ) + "&month=" + (available.Date.getMonth( ) + 1) + "&day=" + available.Date.getDate( ) + "&time=" + available.Start_Time + "&empid=" + available.Employee_ID)
							input.btn.btn-primary(type='submit', value='Book')
			else
				tr.table-success
					td #{available.Date.getMonth( ) + 1 +'/'+ available.Date.getDate( ) + '/' +available.Date.getFullYear( )}
					td #{available.Start_Time}
					td #{available.Duration} hour(s)
					td #{available.Lname}
					td #{available.Amount_Owed}
					td #{available.Amount_Paid}
					td
						form(method='POST', action='/appointment/cancel_appt/?year=' + available.Date.getFullYear( ) + "&month=" + (available.Date.getMonth( ) + 1) + "&day=" + available.Date.getDate( ) + "&time=" + available.Start_Time + "&empid=" + available.Employee_ID)
							input.btn.btn-primary(type='submit', value='Cancel')