extends layout



block content


		
	h1 Your Appointments
	
	h2 Upcoming Appointment:
	//-table-responsive
	table(class="table table-bordered")
		each upcoming, i in upcomings
			tr.table-success
				td #{upcoming.Date.getMonth( ) + 1 +'/'+ upcoming.Date.getDate( ) + '/' +upcoming.Date.getFullYear( )}
				td #{upcoming.Time}
				td #{upcoming.Duration} hour(s)
				td #{upcoming.Lname}
				td #{upcoming.Amount_Owed}
				td #{upcoming.Amount_Paid}
	
	h2 Missed Appointments:
	table
	p Number of missed appointments: #{numMissed}
	table(class="table table-bordered")
		each missed, i in misseds
			tr.table-danger
				td #{missed.Date.getMonth( ) + 1 +'/'+ missed.Date.getDate( ) + '/' +missed.Date.getFullYear( )}
				td #{missed.Time}
				td #{missed.Duration} hour(s)
				td #{missed.Lname}
				td #{missed.Amount_Owed}
				td #{missed.Amount_Paid}
	